#app {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
/* GLOBAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

$primary-color: #9c9cf8;
$second-color: #ff96da;
$thier-color: #ffd471;
$text-color:#626262;
$back-color:#e5e5fc;


$pastelPurple: #dadafb;
$pastelPink: #fcbee5;
$pastelYellow: #fff5cf;

body {
  background: #ffffff;
  color: rgb(98, 98, 98);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $second-color;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $pastelPurple;
}


.container {
  width: 100%;
  margin: 0 150px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.content .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.text-box {
  background-image: linear-gradient(68.3deg, #f5b161 0.4%, #ec366e 100.2%);
  backdrop-filter: blur(20px);
  padding: 38px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: #fff;
  box-sizing: border-box;
}
.text-blue {
  color: #7bd0cc;
  font-style: italic;
}
#mouse {
  font-size: 1.7em;
  margin-bottom: 10px;
  padding-bottom: 30px;
  border-bottom: 1px white solid;
  width: 100%;
}
.section-title {
  font-size: 3em;
  margin-bottom: 80px;
}
.link {
  border-bottom: solid 2px #f4b183;
}
.link:hover {
  font-weight: bold;
}

button {
  font-size: 0.8em;
  padding: 10px 20px;
  border-radius: 1em;
  background-color: rgba(202, 194, 194, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  cursor: pointer;
  transition: 300ms;
  margin-top: 10px;
  box-shadow: 0 0 5px 2px rgba(206, 206, 206, 0.1);
}
img{
  opacity: 1;
}

/* @media screen and (max-width:px){
  
} */
@media screen and (max-width: 519px) {
  h2 {
    font-size: 1.3em;
  }
  .section-title {
    font-size: 1.8em;
  }
  section {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 300px) {
  body {
    font-size: 0.9em;
  }
}
