:root {
  --primary-color: #89A8B3;
  --secondary-color: #fdfcff;
  --third-color: #8f8e8d;
}

:root #container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:root #container-hero {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  align-items: center;
}

:root #container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:root #hero {
  width: 100%;
  padding: 40px 20px 0 20px;
  align-items: center;
  flex-direction: column;
}

:root #logo {
  background-image: url("./assets/img/laptop.png");
  width: 100%;
  height: 100%;
}

:root h1 {
  color: var(--third-color);
  font-family: "Poppins", cursive;
  text-align: left;
}

:root h2 {
  color: var(--primary-color);
  font-family: "Poppins", cursive;
  text-align: left;
  font-size: 1.4em;
  font-weight: 500;
}

:root .presentation {
  padding: 0 5%;
}

:root .presentation_text {
  text-align: left;
  color: var(--third-color);
}

@media screen and (min-width: 1501px) {
  #hero {
    height: 500px;
  }
}

@media screen and (max-width: 1500px) {
  #container {
    margin-top: 80px;
  }
  #container-1 {
    flex-wrap: wrap-reverse;
  }
  #hero {
    height: 366px;
  }
}

@media screen and (min-width: 1281px) {
  #container-hero {
    width: 63%;
  }
}

@media screen and (max-width: 1280px) and (min-width: 461px) {
  #container-hero {
    width: 77%;
  }
}

@media screen and (min-width: 645px) {
  h1 {
    font-size: 2.7em;
  }
  #hero {
    display: flex;
  }
}

@media screen and (max-width: 644px) {
  #hero {
    display: none;
  }
  #container-1 {
    padding-top: 20px;
  }
  #container {
    margin-top: 0px;
  }
  h1 {
    font-size: 1.7em;
  }
  #navRaccourcis {
    flex-direction: column;
  }
}

@media screen and (max-width: 460px) {
  #container-hero {
    width: 90%;
  }
}
