  <section class="sec-02">
    <h2
      id="competences"
      class="section-title"
      v-scroll-reveal="{ preset: 'left' }"
    >
      Compétences
    </h2>
    <div class="container container-competences">
      <div class="content">
        <div
          id="hard-skills"
          class="text-box"
          v-scroll-reveal="{ preset: 'right', delay: 100 }"
        >
          <h2>Hard Skills</h2>
          <div id="competences-hardskills" class="competences">
            <div class="competence langage container-item-competence">
              <div class="titles-competences">Langage :</div>
              <div class="text-blue item-competences container-langage">
                <div class="lang">HTML</div>
                <div class="lang">CSS</div>
                <div>Javascript</div>
                <div>SASS/SCSS</div>
              </div>
            </div>
            <div class="container-item-competence">
              <div class="titles-competences">Framework :</div>
              <div class="text-blue item-competences">Vue.js</div>
            </div>
            <div class="container-item-competence">
              <div class="titles-competences">Gestion de projet :</div>
              <div class="text-blue item-competences">GIT & Github</div>
            </div>
            <div class="container-item-competence">
              <div class="titles-competences">
                Environnement de développement :
              </div>
              <div class="text-blue item-competences">Visual Studio Code</div>
            </div>
            <div class="container-item-competence">
              <div class="titles-competences">Système d'exploitation :</div>
              <div class="text-blue item-competences">Windows 10</div>
            </div>
            <div class="container-item-competence">
              <div class="titles-competences">Graphisme :</div>
              <div class="text-blue item-competences">Figma</div>
            </div>
          </div>
        </div>
        <div
          id="soft-skills"
          class="text-box"
          v-scroll-reveal="{ preset: 'right', delay: 700 }"
        >
          <h2>Soft Skills</h2>
          <div id="competences-softskills" class="competences">
            <div class="container-items-soft">
              <div class="item-soft text-blue">Créativité</div>
              <div class="item-soft">Curiosité</div>
            </div>
            <div class="container-items-soft">
              <div class="item-soft">Communication</div>
              <div class="item-soft text-blue">Détermination</div>
            </div>
            <div class="container-items-soft">
              <div class="item-soft text-blue">Fléxibilité</div>
              <div class="item-soft">Adaptabilité</div>
            </div>
            <div class="container-items-soft">
              <div class="item-soft">Esprit d'équipe</div>
              <div class="item-soft text-blue">Confiance</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>